@charset "utf-8";
/* CSS Document */

@import url(nav.css);
@import url(base.css);


/* jquery焦点图*/
.banner {background:#FFF;height:136px;width:545px;-moz-border-radius: 10px;-webkit-border-radius: 10px;border-radius:10px; padding:6px;}
.slider-wrapper{position: relative;  display:block; background:#FFF;}

.slider-wrapper .fenlei dd a:hover { background: #D4D3D3 url(../images/a_bk.gif) no-repeat right center; color:#FF6600;}
.theme-default #slider {margin: 0px auto 0px; width: 545px; height:136px;}
.theme-default .nivoSlider {margin-bottom: 50px; position: relative;}
.theme-default .nivoSlider img {left: 0px; top: 0px; display: none; position: absolute;}
.theme-default .nivoSlider a {border: 0px currentColor; display: block;}
.theme-default .nivo-controlNav {display:block; height: 28px; bottom: -5px;   padding-left: 400px; position: absolute; z-index: 9;}
.theme-default .nivo-controlNav a {background: url("../images/bullets.png") no-repeat; border: 0px currentColor; width: 23px; height: 17px; text-indent: -9999px; margin-right: 3px; float: left; display: block;}
.theme-default .nivo-controlNav a.active {	background-position: 0px -17px;}

.theme-default .nivo-directionNav a {/*background:  url("../images/arrows.png") no-repeat;*/ border: 0px currentColor; width: 44px; height: 44px; text-indent: -9999px; display: block; 
}
.theme-default a.nivo-nextNav {background-position: -44px 0px; top:50%;margin-top:-22px; right: 10px;}
.theme-default a.nivo-prevNav {left: 10px; top:50%;margin-top:-22px;}
.theme-default a.nivo-nextNav:hover {background-position: -44px -44px ; top:50%; margin-top:-22px; right: 10px;}
.theme-default a.nivo-prevNav:hover {background-position: 0px -44px; left:10px; top:50%;margin-top:-22px;}

.theme-default .nivo-caption {font-family: Helvetica,Arial,sans-serif;}
.theme-default .nivo-caption a {color: rgb(255, 255, 255); border-bottom: rgb(255, 255, 255) 1px  dotted;}
.theme-default .nivo-caption a:hover {color: rgb(255, 255, 255);}
.nivoSlider {position: relative;}
.nivoSlider img {left: 0px; top: 0px; position: absolute;}
.nivoSlider a.nivo-imageLink {margin: 0px; padding: 0px; border: 0px currentColor; left: 0px; top: 0px; width: 100%; height: 100%; display: none; position: absolute; z-index: 6; }
.nivoSlider {position: relative;}
.nivoSlider img {left: 0px; top: 0px; position: absolute;}
.nivoSlider a.nivo-imageLink {margin: 0px; padding: 0px; border: 0px currentColor; left: 0px; top: 0px; width: 100%; height: 100%; display: none; position: absolute; z-index: 6;}
.nivo-slice {height: 100%; display: block; position: absolute; z-index: 5;}
.nivo-box {display: block; position: absolute; z-index: 5;}
.nivo-caption {background: rgb(0, 0, 0); left: 0px; width: 30%; bottom: 0px; color: rgb(255, 255, 255); display: none; position: absolute; z-index: 8; opacity: 0.8;}
.nivo-caption p {margin: 0px; display: none;}
.nivo-caption a {display: inline !important;}
.nivo-html-caption {display: none;}
.nivo-directionNav a {top: 45%; position: absolute; z-index: 9; cursor: pointer;}
/*.nivo-prevNav {left: 0px;}
.nivo-nextNav {right: 0px;}*/
.nivo-controlNav a {position: relative; z-index: 9; cursor: pointer;}
.nivo-controlNav a.active {font-weight: bold;}

.nivoSlider a.nivo-imageLink h2,.nivoSlider a.nivo-imageLink h3{display:block;margin-left:35px;}
.nivoSlider a.nivo-imageLink h2{ font-size:24px; font-weight:bold; color: #F9F9F9; padding-top:20px;}
.nivoSlider a.nivo-imageLink h3{font-size:12px; font-weight:normal;color:#333333;}





/* 页面滚屏案例*/
.demo{clear: both;position: relative;width:555px;background:#e8f2f4;-moz-border-radius: 10px;-webkit-border-radius: 10px;border-radius:10px;border:1px solid #e2e3e5;height:145px;}
.bx_wrap {margin-left:19px; margin-top:8px}
.bx_wrap ul img {}
.bx_wrap ul li{ width:215px; background:#FFF; padding:10px; height:110px; line-height:25px;}
.bx_wrap ul li img{ float:left; margin-right:5px; border:1px #f1f1f1 solid; padding:2px;}
.bx_wrap ul li p{ display:block; margin-top:10px;}
.bx_wrap ul li span{font-size:14px; font-weight:bold;clear:both; display:block;color:#093d6d;}
.bx_wrap ul li span a{ color:#093d6d; text-decoration:none; display:block }
.bx_wrap ul li p span a:hover{ color:#093d6d; text-decoration:none; display:block }
.bx_wrap ul li a{ color:#666}
.bx_wrap ul li a:hover{text-decoration:none; color:#093d6d; }

.bx_wrap a.next {opacity:.5;width:30px;height:140px;line-height:24px;outline-style:none;outline-width: 0;position:absolute; left:2px; top:2px; text-indent:-999em; background: url(../images/btn_l.png) no-repeat;}
.bx_wrap a.prev:hover, .bx_wrap a.next:hover { opacity:1; }
.bx_wrap a.prev {opacity:.5;width:30px;height:140px;line-height:24px; right:2px; position: absolute; text-indent:-999em; top:2px; background:url(../images/btn_r.png) no-repeat;}


/*页面上在线*/
.on-line{background:#FFF; float:left;height:290px;width:530px;-moz-border-radius: 10px;-webkit-border-radius: 10px;border-radius:10px;border:5px solid #215098; padding:0 20px;}

.on-line .tit{ background:url(../images/on-line-ico.gif) no-repeat; border-bottom:1px solid #e3e3e3; font-size:14px; color:#999; color:#333; line-height:25px; height:30px; margin-bottom:10px; clear:both; margin-top:12px;}
.on-line .tit h2{color:#036; float:left; width:100px;overflow:hidden; padding:0; margin:0;   text-indent:40px;}
.on-line .tit h2 a{color:#fe7001;}
.on-line .linebtn li{ float:left; height:40px; width:25%;}
.on-line .linezi dd{font-family:"Microsoft YaHei","Apple LiGothic Medium","Arial","宋体","SimSun","SimHei"; background:url(../images/on-line-ico2.jpg) no-repeat ;float:left; height:25px; width:18%;  font-size:14px; color:#03335b; margin-left:10px;}
.on-line .linezi dd a{ color:#03335b;  padding-left:25px; height:40px;}
.on-line .linezi dd a:hover{ color:#ff8a00; font-weight:bold; background:url(../images/on-line-ico2.gif) no-repeat;}
.on-line .linebtn1 li{font-family:"Microsoft YaHei","Apple LiGothic Medium","Arial","宋体","SimSun","SimHei"; float:left;width:132px; text-indent:25px; text-align:center; font-size:15px; font-weight:bold; height:41px}
.on-line .linebtn1 li a{background:url(../images/on-line-btn-lr0.gif) center no-repeat; height:40px; line-height:40px; display:block;color:#FFF; }
.on-line .linebtn1 li a:hover{ background:url(../images/on-line-btn-lr.gif) center no-repeat; text-decoration:none}


/*图片广告*/
.adv_pic{ width:1149px; background:url(../images/adv_pic_bg.jpg) repeat-x #adb8ba; 	 border:1px solid #adb8ba; -moz-border-radius:  25px 25px 0px 0px;-webkit-border-radius: 25px 25px 0px 0px; border-radius: 25px 25px 0px 0px;  text-align:center; height:90px; padding-top:15px; box-shadow:0px 0px 8px #000;}
.adv_pic ul{ margin-left:20px;}
.adv_pic li{ float:left; width:185px; text-align:center}
	 

/*下面ONLINE*/
#barra_fixa { background-image: url("../images/on-line.png");_background-image: url("../images/on-line.gif");background-origin: padding-box;background-position: center bottom;background-repeat: repeat-x;background-size: auto auto;bottom: 0;height: 86px; position: fixed;width: 100%;z-index: 999;}
#barra_fixa_conteudo {margin-bottom: 0;margin-left: auto;margin-right: auto;margin-top: 0; width: 1000px;}
#barra_fixa_conteudo a {display: block; float: right; height: 100px;  margin-left: 38px;  margin-right:10px; /* 	border:1px solid #096;    margin-top: 12px;*/    width: 130px;}
#barra_fixa_conteudo a span {display: none;}

/*口岸特价*/

#katj{width:350px; position:relative; float:left; margin-left:25px; _margin-left:20px}
#katj dl{ border:1px solid #dbdbdb; border-top:2px solid #dbdbdb;}
#katj dt{border-bottom:1px solid #dbdbdb;line-height:30px; height:30px;}
#katj dt b{ font-family:"Microsoft YaHei","Apple LiGothic Medium","Arial","宋体","SimSun","SimHei"; background:url(../images/tit_bg.png); font-size:16px; color:#FFF; text-indent:40px; display:block; position:absolute; top:-15px; left:-2px;  width:128px;line-height:38px; height:38px;}
#katj dt a{ float:right; margin-right:8px;}
#katj ul{ width:330px;margin:10px 0;}
#katj li{background:url(../images/circle.gif) no-repeat 15px 10px; text-align:left; height:25px; line-height:25px; padding-left:30px; *height:21px; *line-height:21px; }
#katj li a{ width:230px; height:25px; overflow:hidden; display:block; float:left;white-space:nowrap; text-overflow:ellipsis}
#katj li span{ color:#666; float:right; margin-right:10px; width:35px;}
#katj li em{ color:#F60; margin:0 2px;}


/*口岸动态*/

#kadt{width:350px; position:relative; float:left; margin-left:25px;}
#kadt dl{ border:1px solid #dbdbdb; border-top:2px solid #dbdbdb;}
#kadt dt{border-bottom:1px solid #dbdbdb;line-height:30px; height:30px;}
#kadt dt b{font-family:"Microsoft YaHei","Apple LiGothic Medium","Arial","宋体","SimSun","SimHei"; background:url(../images/tit_bg.png); font-size:16px; color:#FFF; text-indent:40px; display:block; position:absolute; top:-15px; left:-2px;  width:128px;line-height:38px; height:38px;}
#kadt dt a{ float:right; margin-right:8px;}
#kadt ul{ width:330px;line-height:25px;margin:10px 0;}
#kadt li{background:url(../images/circle.gif) no-repeat 15px 10px;  height:25px; text-align:left; padding-left:30px;*height:21px; *line-height:21px;}

#kadt li a{ width:210px; overflow:hidden; height:25px; display:block; float:left; white-space:nowrap; text-overflow:ellipsis}
#kadt li span{ color:#666; float:right; margin-right:10px; width:35px;}
#kadt li em{ color:#F60; margin-right:5px; float:left}
#kadt li em a{color:#F60; width:35px;}


/*订舱信息*/

#dcxx{width:350px; position:relative; float:left; margin-left:25px;}
#dcxx dl{ border:1px solid #dbdbdb; border-top:2px solid #dbdbdb;}
#dcxx dt{border-bottom:1px solid #dbdbdb;line-height:30px; height:30px;}
#dcxx dt b{font-family:"Microsoft YaHei","Apple LiGothic Medium","Arial","宋体","SimSun","SimHei"; background:url(../images/tit_bg.png); font-size:16px; color:#FFF; text-indent:40px; display:block; position:absolute; top:-15px; left:-2px;  width:128px;line-height:38px; height:38px;}
#dcxx dt a{ float:right; margin-right:8px;}
#dcxx ul{ width:330px;line-height:25px; margin:10px 0;}
#dcxx li{background:url(../images/time.png) no-repeat 10px 5px;  height:25px; text-align:left; padding-left:25px; *height:21px; *line-height:21px;}
#dcxx li a{ width:210px; cursor:text; height:25px; overflow:hidden; display:block; float:left; white-space:nowrap; text-overflow:ellipsis}
#dcxx li a:hover{ text-decoration:none}
#dcxx li span{ color:#666; float:right;  width:26px; background:url(../images/cj.jpg) no-repeat 0 5px;}
#dcxx li em{ color:#F60; margin-right:10px; float:left}



/*船公司公告*/

#cgs{width:350px; position:relative; float:left; margin-left:25px; _margin-left:20px}
#cgs dl{ border:1px solid #dbdbdb; border-top:2px solid #dbdbdb;}
#cgs dt{border-bottom:1px solid #dbdbdb;line-height:30px; height:30px;}
#cgs dt b{font-family:"Microsoft YaHei","Apple LiGothic Medium","Arial","宋体","SimSun","SimHei"; background:url(../images/tit_bg.png); font-size:16px; color:#FFF; text-indent:40px; display:block; position:absolute; top:-15px; left:-2px;  width:128px;line-height:38px; height:38px;}
#cgs dt a{ float:right; margin-right:8px;}
#cgs dd p{ margin:10px 5px;}
#cgs ul{ width:330px;line-height:25px;margin:10px 0;}
#cgs li{background:url(../images/circle.gif) no-repeat 15px 10px;  height:25px; text-align:left; padding-left:30px;*height:21px; *line-height:21px;}
#cgs li a{ width:230px; height:25px;overflow:hidden; display:block; float:left;white-space:nowrap; text-overflow:ellipsis}
#cgs li span{ color:#666; float:right; margin-right:10px; width:35px;}
#cgs li em{ color:#F60; margin:0 2px;}


/*工具*/

#tool{width:725px; position:relative; float:left; margin-left:25px;}
#tool dl{ border:1px solid #dbdbdb; border-top:2px solid #dbdbdb;}
#tool dt{border-bottom:1px solid #dbdbdb;line-height:30px; height:30px;}
#tool dt b{font-family:"Microsoft YaHei","Apple LiGothic Medium","Arial","宋体","SimSun","SimHei"; background:url(../images/tit_bg.png); font-size:16px; color:#FFF; text-indent:40px; display:block; position:absolute; top:-15px; left:-2px;  width:128px;line-height:38px; height:38px;}
#tool dt a{ float:right; margin-right:8px;}
#tool dd{  padding:20px 30px 15px 75px;}
#tool ul{ width:640px; line-height:25px; }
#tool li{background:url(../images/circle.gif) no-repeat 15px 10px; height:25px; text-align:left; padding:2px 0 2px 35px; display:block; float:left; width:125px; }
#tool li.a0 {background:url(../images/coin_tools.gif) left -21px no-repeat;}
#tool li.a1 {	background:url(../images/coin_tools.gif) left -309px no-repeat;}
#tool li.a2 {background:url(../images/coin_tools.gif) left -52px no-repeat;}
#tool li.a3 {	background:url(../images/coin_tools.gif) left -336px no-repeat;}
#tool li.a4 {	background:url(../images/coin_tools.gif) left -83px no-repeat;}
#tool li.a5 {	background:url(../images/coin_tools.gif) left -368px no-repeat;}
#tool li.a6 {	background:url(../images/coin_tools.gif) left -113px no-repeat;}
#tool li.a7 {	background:url(../images/coin_tools.gif) left -398px no-repeat;}
#tool li.a8 {	background:url(../images/coin_tools.gif) left -197px no-repeat;}
#tool li.a9 {	background:url(../images/coin_tools.gif) left -426px no-repeat;}
#tool li.a10 {	background:url(../images/coin_tools.gif) left -170px no-repeat;}
#tool li.a11 {	background:url(../images/coin_tools.gif) left -454px no-repeat;}
#tool li.a12 {	background:url(../images/coin_tools.gif) left -143px no-repeat;}
#tool li.a13 {	background:url(../images/coin_tools.gif) left -479px no-repeat;}
#tool li.a14 {	background:url(../images/coin_tools.gif) left -225px no-repeat;}
#tool li.a15 {	background:url(../images/coin_tools.gif) left -506px no-repeat;}
#tool li.a16 {	background:url(../images/coin_tools.gif) left -254px no-repeat;}
#tool li.a17 {	background:url(../images/coin_tools.gif) left -535px no-repeat;}
#tool li.a18 {	background:url(../images/coin_tools.gif) left -280px no-repeat;}

/*锦程动态*/
#jc{width:348px; float:left; margin-left:25px; _margin-left:20px}
#jcdt{width:348px; position:relative; }
#jcdt dl{ border:1px solid #dbdbdb; border-top:2px solid #dbdbdb; border-bottom:0}
#jcdt dt{border-bottom:1px solid #dbdbdb;line-height:30px; height:30px;}
#jcdt dt b{font-family:"Microsoft YaHei","Apple LiGothic Medium","Arial","宋体","SimSun","SimHei"; background:url(../images/tit_bg.png); font-size:16px; color:#FFF; text-indent:40px; display:block; position:absolute; top:-15px; left:-2px;  width:128px;line-height:38px; height:38px;}
#jcdt dt a{ float:right; margin-right:8px;}
#jcdt dd { height:113px; *height:120px;}
#jcdt ul{ width:330px;line-height:25px;margin:10px 0;}
#jcdt li{background:url(../images/circle.gif) no-repeat 15px 10px;  height:25px; text-align:left; padding-left:30px;*height:21px; *line-height:21px;}
#jcdt li a{ width:230px;height:25px; overflow:hidden; display:block; float:left;white-space:nowrap; text-overflow:ellipsis}
#jcdt li span{ color:#666; float:right; margin-right:10px; width:35px;}
#jcdt li em{ color:#F60; margin:0 2px;}

/*资质荣誉*/
#jcry{width:348px; position:relative;border:1px solid #dbdbdb; border-top:0; text-align:center; height:172px; }
#jcry dl{ }
#jcry dt{border-bottom:1px solid #dbdbdb;line-height:30px; height:30px;}
#jcry dt b{font-family:"Microsoft YaHei","Apple LiGothic Medium","Arial","宋体","SimSun","SimHei"; background:url(../images/tit_bg.png); font-size:16px; color:#FFF; text-indent:20px; display:block; position:absolute; top:-2px; left:-2px;  width:128px;line-height:38px; height:38px;}
#jcry dt a{ float:right; margin-right:8px;}
#jcry dd { padding-left:-50px;}
#jcry ul{text-align:center;  }
#jcry li{ width:127px;  text-align:center; float:left;}
#jcry li a{ text-align:center; height:25px; line-height:25px; *height:21px; *line-height:21px;}
#jcry .bx_wrap {margin-left:12px; margin-top:8px; *margin-left:0px;}
#jcry a.next2 {opacity:.5;width:25px;height:140px;line-height:24px;outline-style:none;outline-width: 0;position:absolute; left:2px; top:32px; text-indent:-999em; background: url(../images/btn_l1.png) no-repeat;}
#jcry a.prev2:hover, #jcry a.next2:hover { opacity:1; }
#jcry a.prev2 {opacity:.5;width:25px;height:140px;line-height:24px; right:2px; position: absolute; text-indent:-999em; top:32px; background:url(../images/btn_r1.png) no-repeat;}


/* 全球网络*/

#qqwl{width:725px; position:relative; float:left; margin-left:28px; *height:21px; *line-height:21px;}
#qqwl dl{ border:1px solid #dbdbdb; border-top:2px solid #dbdbdb;}
#qqwl dt{border-bottom:1px solid #dbdbdb;line-height:30px; height:30px;}
#qqwl dt b{ font-family:"Microsoft YaHei","Apple LiGothic Medium","Arial","宋体","SimSun","SimHei"; background:url(../images/tit_bg.png); font-size:16px; color:#FFF; text-indent:40px; display:block; position:absolute; top:-15px; left:-2px;  width:128px;line-height:38px; height:38px;}
#qqwl dt a{ float:right; margin-right:8px;}
#qqwl dd{ padding:0; margin:0}
#qqwl .gj{ background:url(../images/gj.jpg) 450px 0 no-repeat;  text-align:left; line-height:25px; color:#666; border:1px 
#fff solid; border-bottom:1px solid #dbdbdb;padding:25px 30px; zoom:1; position:relative}
#qqwl .gj .map_link{ display:block; width:250px; height:130px;/* border:1px #CCCCCC solid;*/ position:absolute; top:5px; right:10px;}
#qqwl .gj p{ width:420px;}
#qqwl em{ color:#F60; padding:0 8px; font-size:14px; font-weight:bold; }
#qqwl .gn{ background:url(../images/gn.jpg) 470px 0 no-repeat; text-align:left; line-height:25px; color:#666; border:1px 
#fff solid; padding:19px 30px; zoom:1; position:relative}
#qqwl .gn .map_link{ display:block; width:180px; height:120px; /*border:1px #CCCCCC solid;*/ position:absolute; top:5px; right:50px;}
#qqwl .gn p{ width:400px;}
#qqwl .gn p a{ padding:5px 8px;}


