<?xml version="1.0" encoding="UTF-8"?>  
<beans xmlns="http://www.springframework.org/schema/beans"  
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"    
    xmlns:aop="http://www.springframework.org/schema/aop"  
    xmlns:tx="http://www.springframework.org/schema/tx"  
    xmlns:context="http://www.springframework.org/schema/context"  
    xsi:schemaLocation="    
          http://www.springframework.org/schema/beans    
          http://www.springframework.org/schema/beans/spring-beans-3.0.xsd    
          http://www.springframework.org/schema/tx    
          http://www.springframework.org/schema/tx/spring-tx-3.0.xsd   
          http://www.springframework.org/schema/context    
          http://www.springframework.org/schema/context/spring-context-3.0.xsd    
          http://www.springframework.org/schema/aop    
          http://www.springframework.org/schema/aop/spring-aop-3.0.xsd"> 
	<bean id="privilegeDao" class="com.mulua.dao.impl.PrivilegeDaoImpl">
		<property name="sessionFactory">
			<ref bean="sessionFactory"/>
		</property>
	</bean>
	<bean id="privilegeService" class="com.mulua.service.impl.PrivilegeServiceImpl">
		<property name="pdao">
			<ref bean="privilegeDao"/>
		</property>
	</bean>
	
	<bean id="privilegeAction" class="com.mulua.action.PrivilegeAction" scope="prototype">
		<property name="ps">
			<ref bean="privilegeService"/>
		</property>
		<property name="rs">
			<ref bean="roleService"/>
		</property>
		
	</bean>
</beans> 