<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:aop="http://www.springframework.org/schema/aop"
	xmlns:tx="http://www.springframework.org/schema/tx"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
           http://www.springframework.org/schema/beans/spring-beans-2.5.xsd
           http://www.springframework.org/schema/context
           http://www.springframework.org/schema/context/spring-context-2.5.xsd
           http://www.springframework.org/schema/aop 
           http://www.springframework.org/schema/aop/spring-aop-2.5.xsd
           http://www.springframework.org/schema/tx 
		   http://www.springframework.org/schema/tx/spring-tx-2.5.xsd">
		   

	<bean id="cpDao" class="com.mulua.dao.impl.CompanyProfileDaoImpl">
		<property name="sessionFactory">
			<ref bean="sessionFactory"/>
		</property>
	</bean>
	<bean id="nDao" class="com.mulua.dao.impl.NewsDaoImpl">
		<property name="sessionFactory">
			<ref bean="sessionFactory"/>
		</property>
	</bean>
	<bean id="bDao" class="com.mulua.dao.impl.BusinessDaoImpl">
		<property name="sessionFactory">
			<ref bean="sessionFactory"/>
		</property>
	</bean>
	<bean id="auDao" class="com.mulua.dao.impl.AboutUsDaoImpl">
		<property name="sessionFactory">
			<ref bean="sessionFactory"/>
		</property>
	</bean>
	<bean id="adminDao" class="com.mulua.dao.impl.AdminDaoImpl">
		<property name="sessionFactory">
			<ref bean="sessionFactory"/>
		</property>
	</bean>
	<bean id="peDao" class="com.mulua.dao.impl.PicturesDaoImpl">
		<property name="sessionFactory">
			<ref bean="sessionFactory"/>
		</property>
	</bean>

	
	<bean id="service" class="com.mulua.service.impl.ServiceImpl">
		<property name="cpDao" ref="cpDao"></property>
		<property name="nDao" ref="nDao"></property>
		<property name="bDao" ref="bDao"></property>
		<property name="aDao" ref="auDao"></property>
		<property name="adminDao" ref="adminDao"></property>
		<property name="peDao" ref="peDao"></property>
	</bean>

	
	
<bean id="businessAction" class="com.mulua.action.BusinessAction">
		<property name="s" >
			<ref bean="service"/>
		</property>
	</bean>
<bean id="webAction" class="com.mulua.action.webAction">
		<property name="s" >
			<ref bean="service"/>
		</property>
	</bean>
	
	
	
	
	
<!-- 	<bean id="personAction" class="com.mulua.action.PersonAction">
		<property name="s" >
			<ref bean="service"/>
		</property>
	</bean> -->
	
<!-- 	<bean id="logger" class="com.mulua.domain.Logger"></bean> -->
	
</beans>